$primary-50: #e3ebf1;
$primary-100: #c0d3e0;
$primary-200: #9cbbcf;
$primary-300: #79a4be;
$primary-400: #558cad;
$primary-500: #244a6b;
$primary-600: #1f4360;
$primary-700: #193c55;
$primary-800: #14354a;
$primary-900: #0f2e3f;

$secondary-50: #ebf7fd;
$secondary-100: #d3eefb;
$secondary-200: #bce5f9;
$secondary-300: #a4dcf7;
$secondary-400: #8dd0ee;
$secondary-500: #80bcda;
$secondary-600: #73a8c6;
$secondary-700: #6694b2;
$secondary-800: #59809e;
$secondary-900: #4c6c8a;

$error-color: #e5655c;
